@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Work+Sans:wght@300&display=swap');

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.nologinnavbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: solid;
    border-color: rgb(234, 236, 236);
    border-width: 1px;
}
.loggednavbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border-bottom: solid;
    border-color: rgb(234, 236, 236);
    border-width: 1px;  
}

#logo{
    height: 100px;
    width: 150px;
}
#searchbar{
    margin-bottom: 10px;
    height: 37px;
	width: 500px;
    margin-top: 10px;
    border: solid;
    border-radius: 20px;
    border-width: 1px;
    border-color: rgb(218, 218, 230);
    background-color:rgb(234, 236, 236) ;
    position: relative;

}
#submit{
    background:transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") center no-repeat;
    border: none;
    position: relative;
    right: 40px;
    top: 5px;
    margin-top: 20px;
    color:rgb(234, 236, 236);
    width: 20px;
}

.useroptions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#notification{
    padding-left: 30px;
    padding-right: 30px;
    height: 20px;
    width: 20px;
    font-size: xx-large;
    margin-bottom: 25px;
}
#trending{
    padding-left: 30px;
    padding-right: 30px;
    height: 20px;
    width: 20px;
    font-size: xx-large;
    margin-bottom: 25px;
}
#addpost{
    padding-left: 30px;
    padding-right: 30px;
    height: 20px;
    width: 20px;
    font-size: xx-large;
    margin-bottom: 25px;
}
.userinfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid;
    border-width: 1px;
    border-color: rgb(248, 252, 252);
    justify-content: space-between;
    padding-left: 10px;
    margin-bottom: 5px;

}
#userimage{
    height: 50px;
    width: 50px; 
    border: solid;
    border-width: 1px;
    border-color: rgb(234, 236, 236);
    border-radius: 50%;
}
#username{
    padding-left: 5px;
}

/* __________________________________________________ */

.homepage{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#DAE0E6;
    height: 100%;
}
.following{
    width: 13%;
    background-color: #FFF;
    margin-top: 15px;
    margin-left: 20px;
    border: solid;
    border-width: 1px;
    border-color: #a3a2a2;
    margin-bottom: 20px;

}
#followtitle{
    display: flex;
    justify-content: flex-start;
    font-weight: 650;
    padding-top: 10px;
    padding-left: 12px;
    padding-bottom: 5px;
    border-bottom: 1px solid #dddcdc;
    height: 30px;

}
.followeduser{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: solid;
    border-width: 1px;
    border-color: #a3a2a2; */
    padding-left: 10px;
    margin-bottom: 5px;

}
.followeduserimage{
    height: 50px;
    width: 50px; 
    border: solid;
    border-width: 1px;
    border-color: rgb(234, 236, 236);
    border-radius: 50%;
}
.followedusername{
    padding-left: 5px;
}

#sidefooter{
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    height: 278px;
    width: 20%;
    margin-top: 20px;
    margin-right: 20px;
    border: solid;
    border-width: 1px;
    border-color: #a3a2a2;

}
.side{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #EAECEC;
}
.left{
    display: flex;
    flex-direction: column;
}
.right{
    display: flex;
    flex-direction: column;
}

.elementcontent{
    font-size: small;
    color: #707070;
}


/* __________________________________________-- */
.posts{
    width: 50%;
    margin-top: 20px;
}
.post{
    background-color: #a3a2a2;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #FFF;
    border: solid;
    border-width: 1px;
    border-color: #a3a2a2;


}
.postimage{
    /* height: 250px;
    width: 300px;
    border: solid;
    margin-top: 20px; */
    display: block;
  max-width:100%;
  max-height:100%;
  width: auto;
  height: auto;
}