@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Work+Sans:wght@300&display=swap');

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    
}

.signupform{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-content: space-between;
    
}
#singupword{
    font-size: large;
    font-weight: 600;
    padding-bottom: 8px;
}
#description{
    padding-bottom: 30px;
}
#withgoogle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid;
    border-radius: 20px;
    border-width: 1px;
    border-color: rgb(218, 218, 230);
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;

}
#withapple{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid;
    border-radius: 20px;
    border-width: 1px;
    border-color: rgb(218, 218, 230);
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    top: 20px;
}
#or{
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}
#emailandpassword{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
#singupemail{
    /* padding-bottom: 10px; */
    margin-bottom: 10px;
    height: 37px;
	width: 290px;
    border: solid;
    border-radius: 20px;
    border-width: 1px;
    border-color: rgb(218, 218, 230);

}

#singuppassword{
    margin-bottom: 10px;
    height: 37px;
	width: 290px;
    border: solid;
    border-radius: 20px;
    border-width: 1px;
    border-color: rgb(218, 218, 230);
}
#forgetpassword{
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
    right: 60px;
}

#singupsubmit{
    margin-bottom: 10px;
    background: #0066A2;
	color: white;
	border-style: outset;
	border-color: #0066A2;
    border-radius: 20px;
	height: 50px;
	width: 290px;
	font: bold15px arial,sans-serif;
	text-shadow: none;
}
#aleadyhaveaccount{
    display: flex;
    justify-content: flex-start;
    position: relative;
    right: 60px;
}